@import 'font.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    height: 2000px;
}

.container {
    max-width: 1660px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    border: 2px solid white;
    border-radius: 50px;
    background: black;
    z-index: 2;
}

.nav_li::after {
    content: '';
    height: 3px;
    border-radius: 23px;
    background: transparent;
    width: 0;
    margin-top: 5px;
    transition: 0.5s;
    margin-left: 40%;
}

.nav_li:hover::after {
    background: #FFFF;
    width: 15px;
}

.nav_li:hover {
    color: #DF308D;
}

.nav_li {
    font-family: 'Man';
    color: #FFFF;
    margin-right: 30px;
    font-size: 18px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
}

.nav_ul {
    display: flex;
    justify-content: center;
}

.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: #FFFF;
    font-size: 24px;
    font-family: 'Man';
}

.header_h1 {
    color: white;
    font-family: 'Man-bold';
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 36px;
    max-width: 600px;
}

.header_text {
    color: white;
    font-family: 'Man';
    margin-bottom: 60px;
    font-size: 20px;
    max-width: 600px;
    font-weight: 500;
}

.header_button {
    color: black;
    background: white;
    padding: 15px 20px;
    font-family: 'Man';
    font-weight: 500;
    border-radius: 25px;
    background: -webkit-linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);
    background-size: 200%;
    font-weight: 600;
}

.header_button:hover {
    animation: gradient .5s ease forwards;
}

.header_button:not(:hover) {
    animation: gradient-end .5s ease forwards;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes gradient-end {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0%;
    }
}

.header_block {
    display: flex;
    margin-top: 15%;
}

.header_img {
    width: 350px;
    height: 400px;
    position: absolute;
    margin-left: 500px;
    object-fit: cover;
    transition: .5s;
}

.header_img:nth-of-type(1) {
    margin-left: 400px;
    transform: rotate(350deg);
}

.header_img:nth-of-type(2) {
    margin-left: 600px;
    transform: rotate(10deg);
}

.header_img:hover {
    transform: scale(1.1);
    transition: .5s;
    z-index: 1;
}

.header_img_block {
    position: relative;
}

.main {
    margin-top: 300px;
}

.main_title {
    font-size: 46px;
    font-family: 'Man-bold';
    font-weight: 700;
    color: #FFFF;
    text-align: center;
}

.logo_p {
    font-size: 24px;
    font-family: 'Man';
    color: #FFFF;
    text-align: center;
    margin-top: 40px;
}

.examples_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.arrow {
    color: white;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.logo_examples {
    background: transparent;
    color: #FFFF;
    font-size: 24px;
    margin-right: 15px;
    border: none;
}
.logo_create:nth-of-type(2){
    margin-top: 100px;
}
.rotated {
    transform: rotate(180deg);
}

.main_examples_img {
    width: 300px;
    height: 400px;
    margin: 10px;
    object-fit: cover;
}

.main_examples_block {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 10%;
    max-width: 1200px;
    text-align: center;
}

.main_examples_block.visible {
    display: block;
}

.main_examples_block.fade_in {
    opacity: 1;
}

.order {
    font-family: 'Man';
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    background: black;
    padding: 15px 30px;
    margin-top: 30px;
    cursor: pointer;
}
.arrow2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    color: #FFF;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
}